.page {
  padding: @desk-spacing-page;
}

.spacer16 {
  height: 16px;
}

.spacer24 {
  height: 24px;
}

.avatarLabel {
  margin-bottom: 12px;
}

.avatar {
  border-radius: @desk-radius-pill;
  border: 1px solid #eee;
}

.avatarActive {
  border: 3px solid @desk-color-primary;
}

.welcome {
  text-align: center;
  padding: 24px;
}
