.smsPad {
  padding: @desk-spacing-page;
}

.spacer10 {
  height: 10px;
}

.lrLinks {
  padding: @desk-spacing-block;
  display: flex;
  justify-content: space-between;
}

.flexRow8 {
  display: flex;
  gap: 8px;
}
