.userRow {
  padding: @desk-spacing-block;
  display: flex;
  gap: 12px;
  align-items: center;
}

.userMain {
  flex: 1;
}

.nickname {
  font-size: 18px;
  font-weight: 600;
}

.tagRow {
  margin-top: 6px;
}

.avatarLarge {
  --size: 56px;
}

.guestPad {
  padding: @desk-spacing-block;
}
