.swiperImg {
  max-height: 360px;
}

.content {
  padding: @desk-spacing-page;
  white-space: pre-wrap;
}

.actions {
  display: flex;
  gap: 12px;
  padding: @desk-spacing-page;
}

.commentInputRow {
  padding: @desk-spacing-page;
  display: flex;
  gap: 8px;
}
